/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/plugins
/storage/*.key
/storage/pail
/vendor
.dockerignore
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Dockerfile
fly.toml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.fly
/.idea
/.vscode
/.zed
