h1.brand {
    font-size: 1em;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    .small-screen {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .large-screen {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}
